<template>
    <draggable v-model="list" :class="getClass()" style="min-height:30px; border: 0px red solid;" :options="{group:'index'}" @start="dragged=true" @end="dragged=false" :move="checkMove">
        <b-card v-for="(item, key) in list" :class="[key==0 ? 'first': '']">
            <textarea @keyup="changeCardItem">{{getCardItemValue(key)}}</textarea>
        </b-card>
    </draggable>
</template>

<script>
import draggable from 'vuedraggable';

export default {
    name: 'card',
    components: {
        draggable
    },
    props: [
        'columnKey',
        'itemKey',
        'index',
        'text'
    ],
    computed: {
        /*cardText: {
            get() {
                let val = this.$store.getters.columnItem(this.columnKey, this.itemKey);
                return val;
            },
            set(value) {
                this.$store.dispatch('editColumnItem', {
                    columnKey: this.columnKey,
                    itemKey: this.itemKey,
                    value: value
                });
            }
        },*/
        /*list () {
            return this.$store.getters.columnItems(this.columnKey, this.itemKey)
        },*/
        list: {
            get() {
                return this.$store.getters.columnItems(this.columnKey, this.itemKey)
            },
            set (value) {
                //console.log('mergeColumnItem setter val: ', value);
                this.$store.dispatch('mergeColumnItem', {
                    columnKey: this.columnKey,
                    itemKey: this.itemKey,
                    value: value,
                    isSource: this.dragged
                });
            }
        }
    },
    data() {
        return {
            dragged: false
        };
    },
    /*watch: {
        drag() {
            console.log('Drag watcher', arguments, this.drag, this.cardText);
        }
    },*/
    methods: {
        getClass() {
            return "card-item card-item_color_" + this.index;
        },
        checkMove() {
            //console.log('checkMove ', arguments);
            return true;
        },
        getCardItemValue(index) {
            let val = this.$store.getters.columnItem(this.columnKey, this.itemKey, index);
            return val;
        },
        changeCardItem(e) {
            this.$store.dispatch('editColumnItem', {
                columnKey: this.columnKey,
                itemKey: this.itemKey,
                value: e.target.value
            });
        }
        /*cIndex() {
            return this.index
        },
        cText() {
            return this.text
        }*/
    }
};

</script>

<style lang="less">
    .card-item {
        margin: 10px 0;
        cursor: pointer;
        user-select: none;

        &:hover {
            opacity: 0.7;
        }

        &_color_1 {
            background: #faebd7;
        }

        &_color_2 {
            background: #f0f8ff;
        }

        &_color_3 {
            background: #f0ffff;
        }
    }

    .card {
        margin:0;
        border-radius: 0;
        background: inherit;

        textarea {
            border: 0;
            background: inherit;
        }

        &.first {
            .card-body {
                padding: 20px;
            }
        }

        .card-body {
            padding: 0;
        }
    }
</style>
