<template>
    <div class="viewport">
        <b-container class="bv-example-row" fluid>

            <b-row>

                <b-col v-for="(column, columnKey) in columns" :key="columnKey">
                    <div class="add-card" @click="addCard(columnKey)">+</div>
                    <card
                        v-for="(item, itemKey) in column.items"
                        style="max-width: 20rem;"
                        :columnKey="columnKey"
                        :itemKey="itemKey"
                        :index="item.index"
                        :text="item.text" />
                </b-col>

            </b-row>
        </b-container>
    </div>
</template>

<script>
import draggable from 'vuedraggable';
import card from '../card/card.vue';

//
// https://github.com/SortableJS/Vue.Draggable
//
export default {
    components: {
        card,
        draggable
    },
    computed: {
        columns() {
            return this.$store.getters.columns;
        }
    },
    /*data() {
        return {
            columns:

        }
    },*/
    methods: {
        checkMove() {
            return true;
        },
        addCard(key) {
            this.$store.dispatch('addColumn', key);
        }
    }
};

</script>

<style lang="less">
    .col {
        text-align: center;
        border: 1px #aaa solid;
    }

    .card {
        margin: 10px 0;
        cursor: pointer;
        user-select: none;

        &_color_1 {
            background: #faebd7;
        }

        &_color_2 {
            background: #f0f8ff;
        }

        &_color_3 {
            background: #f0ffff;
        }
    }

    .add-card {
        margin: 20px 30px;
        background-color: darkseagreen;
        padding: 6px;
        border-radius: 4px;
        border: 2px solid #888;
        font-size: 22px;
        cursor: pointer;
        user-select: none;

        &:hover {
            opacity: 0.9;
        }
    }
</style>
